body {
  margin: 0;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #c7c7c7;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  font-weight: normal;
}

input {
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px #535353, 5px -5px 7px #535353,
    -5px 5px 7px #535353, -5px -5px 7px #535353;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  #app {
    width: 100%;
  }
}

#newItemEntry {
  width: 100%;
  background-color: #c7c7c7;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  resize: none;
  box-sizing: border-box;
}

#newItemEntry:focus {
  outline: 0;
}

.item, .item-checked {
  position: relative;
  width: 100%;
  padding: 10px 13px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #cacaca;
  box-sizing: border-box;
}

.item, .item-text {
  background-color: #3e537b;
}

.item-checked, .item-text-checked {
  background-color: rgb(90, 90, 90);
}

.item-text, .item-text-checked {
  display: unset;
  width: calc(100% - 100px);
  margin-right: 0;
  font-size: 18px;
  color: #cacaca;
  box-sizing: border-box;
}

.item-text:focus {
  outline: 0;
}

.item-icon {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.item-icon > img {
  vertical-align: middle;
}

.delete-button {
  margin-right: 2px;
}

#clear-items {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(192, 63, 63);
  cursor: pointer;
}

#clear-items:hover {
  background-color: rgb(194, 43, 43);
}

.strikethrough {
  position: absolute;
  display: flex;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  top: 50%;
  left: 0;
  height: 1px;
  background-color: white;
  /* let user click through this to activate select/delete buttons */
  pointer-events: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
